$mobile: 40em;
$tablet: 64em;

@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("/static/assets/fonts/helvetica-neue/regular.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueCondensedBlack";
  src: url("/static/assets/fonts/helvetica-neue/condensed-black.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueUltraLight";
  src: url("/static/assets/fonts/helvetica-neue/ultralight.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/static/assets/fonts/helvetica-neue/light.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueThin";
  src: url("/static/assets/fonts/helvetica-neue/thin.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/static/assets/fonts/helvetica-neue/bold.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/static/assets/fonts/helvetica-neue/medium.ttf") format("truetype");
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

* {
  font-family: "HelveticaNeueRegular";
  box-sizing: border-box;
}

html, body {
  background-color: #F7F7F7;
}

strong {
  font-family: "HelveticaNeueBold";
}

header {
  position: absolute;
  width: 100%;
  min-height: 5.5rem;
  z-index: 2;
  div[data-name="wrapper"] {
      max-width: $tablet;
      width: 85%;
      margin: 0 auto;
      & > a {
          display: inline-block;
          vertical-align: middle;
          margin-top: 0.7rem;
          & > div {
              width: 3.5rem;
              height: 3.5rem;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              background-image: url(/static/assets/images/header-logo.png);
          }
      }
      div[data-name="links"] {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-top: 1.7rem;

        a {
          color: #FFFFFF;
          text-decoration: none;
          margin-left: 3.5rem;
          margin-bottom: 0.5rem;
          display: inline-block;
          @media (max-width: $mobile) {
            margin-left: 1rem;
            font-size: 0.8rem;
          }

          &:hover {
            opacity: 0.9;
            color: #28FF00;
          }
          &:last-child {
              color: #28FF00;
              font-family: "HelveticaNeueBold";
              position: relative;
              & > div {
                position: absolute;
                width: 2.5rem;
                height: 0.25rem;
                border-radius: 0.25rem;
                background-color: transparent;
                left: 2.5rem;
                bottom: -1rem;
                transition: all 0.2s ease;
              }
              @media (min-width: $mobile) {
                &:hover {
                  & > div {
                    bottom: -0.8rem;
                    background-color: #28FF00;
                    transition: all 0.2s ease;
                  }
                }
              }
          }
        }
      }
  }
}

div[data-name="popup"] {

  &.visible {
      div[data-name="background"] {
          display: block;
      }
      div[data-name="content"] {
          top: 15%;
          transition: all 0.3s ease;
      }
  }

  div[data-name="background"] {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0,0.8);
      z-index: 5;
      cursor: pointer;
      display: none;
  }

  div[data-name="content"] {
      position: fixed;
      width: 25rem;
      min-height: 10rem;
      border-radius: 1rem;
      background-color: #FFFFFF;
      top: 130%;
      left: 50%;
      margin-left: -12.5rem;
      z-index: 10;
      text-align: center;
      padding: 3rem 2rem;
      transition: all 0.3s ease;
      h3 {
        font-size: 1.3rem;
        margin: 0 auto 1rem auto;
        display: block;
        font-family: "HelveticaNeueBold";
      }
      p {
        font-size: 0.9rem;
        line-height: 1.5;
        margin: 0 auto 1rem auto;
      }
      input[type="text"],
      input[type="password"] {
          padding: 0.8rem 2rem;
          box-sizing: border-box;
          width: 100%;
          margin: 0 auto 0.5 auto;
          background-color: #EEEEEE;
          border: none;
          outline: none;
      }
  }

  div[data-name="timer"] {
    display: block;
    text-align: center;
    margin: 0.5rem auto;
    font-size: 3rem;
    font-family: "HelveticaNeueMedium";
    color: #21D000;
  }

  a[data-name="sublink"] {
      color: #666666;
      text-decoration: none;
      display: block;
      text-align: center;
      margin: 0.3rem auto 2rem auto;
      font-size: 0.85rem;
  }

}

div[data-name="waitingindicator"] {

  &.visible {
      div[data-name="background"] {
          display: block;
      }
      div[data-name="content"] {
          top: 15%;
          transition: all 0.3s ease;
      }
  }

  div[data-name="background"] {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0,0.8);
      z-index: 5;
      cursor: pointer;
      display: none;
  }

  div[data-name="content"] {
      position: fixed;
      width: 20rem;
      min-height: 5rem;
      border-radius: 1rem;
      background-color: #FFFFFF;
      top: 130%;
      left: 50%;
      margin-left: -10rem;
      z-index: 10;
      text-align: center;
      padding: 2rem 1rem;
      transition: all 0.3s ease;
      strong {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.8rem;
        line-height: 1.5;
        color: #666666;
      }
      div[data-name="indicator"] {
          width: 5rem;
          height: 5rem;
          border-radius: 5rem;
          border-top: 0.1rem solid #21D000;
          border-left: 0.1rem solid #21D000;
          border-bottom: 0.1rem solid #21D000;
          margin: 2rem auto;
          display: block;
          -webkit-animation: rotating 0.5s linear infinite;
      }
  }
}

a[data-name="sublink"],
a[data-name="back"] {
    color: #666666;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 0.9rem;
}

.button, button {
    color: #28FF00;
    border: 0.1rem solid #28FF00;
    background-color: #28FF00;
    padding: 0.8rem 2rem;
    font-size: 0.95rem;
    font-family: "HelveticaNeueMedium";
    display: block;
    max-width: 15rem;
    width: 95%;
    border-radius: 2rem;
    text-decoration: none;
    text-align: center;
    margin: 1rem auto;
    color: #000000;
    cursor: pointer;
    outline: none;
    &:hover {
      opacity: 0.8;
    }
    &[disabled] {
      opacity: 0.3;
    }
}

.emphasize {
  font-family: "HelveticaNeueBold";
}

section[data-name="title"] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/static/assets/images/nimble-banner.png);
    width: 100%;
    min-height: 5.5rem;
    overflow: hidden;
    h1 {
      color: #FFFFFF;
      line-height: 1.8;
      margin: 6rem auto 2rem auto;
      text-align: center;
      font-size: 2.2rem;
      font-family: "HelveticaNeueThin";
      @media (max-width: $mobile) {
          font-size: 1.8rem;
      }
    }
}

main[data-name="nimble-setup"] {
    div[data-name="steps"] {
        max-width: 50rem;
        text-align: center;
        margin: 0 auto;
        div[data-name="step"] {
            display: inline-block;
            text-align: center;
            margin: 1rem 2.5rem;
            div[data-name="circle"] {
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 2.8rem;
                border: 0.1rem solid #000000;
                box-sizing: border-box;
                padding: 0.8rem 0 0 0;
                text-align: center;
                color: #000000;
                margin: 0 auto 0.5rem auto;
            }
            &.upcoming {
              opacity: 0.3;
              div[data-name="circle"] {
                  background-color: #D8D8D8;
                  border-color: transparent;
              }
            }
            &.done {
                div[data-name="circle"] {
                    background-color: #21D000;
                    border-color: #21D000;
                }
            }
        }
    }

    div[data-name="pages"] {

        .page {
            padding: 1rem 0 3rem 0;
            max-width: 28rem;
            width: 95%;
            margin: 0 auto;
            text-align: center;

            div[data-name="icon"] {
                width: 7rem;
                height: 7rem;
                margin: 0 auto 3rem auto;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            & > p {
                line-height: 2;
                font-size: 0.95rem;
                margin: 0 auto 2rem auto;
            }

            a:not(.button):not([data-name="back"]) {
              color: #21D000;
              text-decoration: none;
            }

            div[data-name="bottom-message"] {
                font-size: 0.9rem;
                margin: 3rem auto;
                display: block;
                color: #666666;
            }
        }

        div[data-name="page-1"] {
            div[data-name="icon"] {
                background-image: url('/static/assets/images/icon-step1.png');
            }
        }

        div[data-name="page-2"] {
            div[data-name="icon"] {
                background-image: url('/static/assets/images/icon-step2.png');
            }
        }

        div[data-name="page-3"] {
            div[data-name="icon"] {
                background-image: url('/static/assets/images/icon-step3.png');
            }
        }

        div[data-name="page-4"] {
            div[data-name="icon"] {
                background-image: url('/static/assets/images/icon-step4.png');
            }
        }

        div[data-name="page-5"] {
            div[data-name="icon"] {
                background-image: url('/static/assets/images/icon-step5.png');
            }
            div[data-name="networks"] {
              margin: 0 auto 2rem auto;
              border: 0.1rem solid #EEEEEE;
              div[data-name="network"] {
                  padding: 0.5rem 1rem;
                  box-sizing: border-box;
                  cursor: pointer;
                  &:hover {
                    background-color: #CCCCCC;
                  }
              }
            }
        }

        div[data-name="page-6"] {
            div[data-name="icon"] {
                background-image: url('/static/assets/images/icon-step6.png');
            }
        }
    }
}
