<!-- HEADER -->
<div ng-include="'/static/views/includes/header.html'"></div>


<main ng-controller="LandingController">

  <!-- INTRODUCTION -->
  <section data-name="introduction">
      <div data-name="content">
          <div data-name="wrapper">
              <h1>nimble<strong>NODE</strong></h1>
              <p>The most <strong>affordable</strong>, <strong>portable</strong>, <strong>customizable</strong>, and <strong>nimble</strong> way to run a full node from anywhere in the world.</p>
              <a href="/store">GET NIMBLE</a>
              <small>NO DEPOSIT OR PRE-PAYMENT NEEDED!</small>
              <strong>nimblenode.io is the only authorized seller of nimblenode devices.</strong>
          </div>
      </div>
  </section>

  <!-- SMALLEST AROUND -->
  <section data-name="smallestaround">
    <div data-name="content">
        <div data-name="text">
            <small>INTRODUCING</small>
            <h3>The Smallest<br>Full Node Around</h3>
            <p>Small enough to fit in your pocket, nimbleNODE gives you the ability to run a full node with unparalleled ease. Your <strong>security</strong> and <strong>access to cryptocurrencies</strong> is now jam-packed into a device as small as a dime!</p>
        </div>
        <div data-name="preview"></div>
    </div>
    <div data-name="previews">
        <div data-name="preview">
            <div></div>
            <p>Micro-SD card slot that can be used to expand storage for bigger chains.</p>
        </div>
        <div data-name="preview">
            <div></div>
            <p>Fitted heat sink for more efficient air flow and better performance.</p>
        </div>
        <div data-name="preview">
            <div></div>
            <p>2 USB ports + mini-HDMI for more technical customizations.</p>
        </div>
    </div>
  </section>

  <!-- PLUG-IN-PLAY -->
  <section data-name="plugandplay">
    <div data-name="content">
        <div data-name="text">
            <h3>Plug-in-Play Setup</h3>
            <p>Nowadays you need a PhD in computers just to setup a full node. Some full nodes have countless wires and redundant cables that connect to themselves. All nimbleNODE needs is a single cable, making things as easy as plug-in-play.</p>
        </div>
        <div data-name="preview">
          <video loop muted autoplay>
                <source src="/static/assets/media/setup.mp4" type="video/mp4">
          </video>
        </div>
        <div data-name="preview-mobile"></div>
    </div>
    <div data-name="mobile">
        <div data-name="text">
            <h3>A Node Fit for Mobile</h3>
            <p>With nimbleNODE, ease of use and access is always top priority. Control your nimbleNode completely from your mobile phone.</p>
            <div data-name="points">
                <div data-name="point">
                    <i class="far fa-paper-plane"></i>
                    <span>Send and receive crypto</span>
                </div>
                <div data-name="point">
                    <i class="far fa-eye"></i>
                    <span>Monitor your node stats</span>
                </div>
                <div data-name="point">
                    <i class="fas fa-lock"></i>
                    <span>Secure as they come</span>
                </div>
            </div>
            <div data-name="preview"></div>
        </div>
    </div>
  </section>

  <!-- YOUR FAVORITE COIN -->
  <section data-name="yourfavoritecoin">
    <div data-name="content">
        <div data-name="text">
            <h3>
                <span>nimble<strong>NODE</strong></span>
                <span>+</span>
                <strong>Your Favorite Coin</strong>
            </h3>
            <p>nimbleNODE has love for and is loyal to every coin. Whether it is Bitcoin, Ether, or a coin from your favorite blockchain - nimbleNODE is just what you need. Currently supported coins include:</p>
        </div>
        <div data-name="coins">
            <div data-name="coin">
                <div></div>
                <span>BITCOIN</span>
            </div>
            <div data-name="coin">
                <div></div>
                <span>ETHEREUM</span>
            </div>
            <div data-name="coin">
                <div></div>
                <span>BITHEREUM</span>
            </div>
        </div>
        <p>Support for many more coming soon!</p>
        <a href="/coinrequest" class="button">REQUEST A COIN</a>
    </div>
    <div data-name="ourmission">
        <h3>Our Mission</h3>
        <p>Nimble is not here to sell you on privacy, self-soverienty, or shill you on coin ideologies. Nimble is here to provide you with a node that does exactly what you need, when you need it. Whether it be proof of stake, better access to a chain, security, or anything in between- <strong>Nimble will always have you covered!</strong></p>
        <a href="/store" class="button">GET NIMBLE NOW</a>
    </div>
  </section>

</main>

<div ng-include="'/static/views/includes/footer.html'"></div>
